
.shared-video_item {
    width: 100%;
    height: max-content;
    margin-bottom: 50px;
}

.item-left {
    width: 55%;
    justify-content: center;
}

.item-left iframe {
    width: 85%;
    height: 100%;
}

.item-right {
    width: 45%;
}

.item-right h4 {
    color: rgb(255, 54, 54);
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.item-right span {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: block;
    margin-bottom: 8px;
}

.item-right p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}