.container {
  height: 100vh;
  width: 90vw;
  margin: 0 auto;
  position: relative;
  font-family: "Rubik", sans-serif;
}

/* header css */

.header-bar {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  margin-bottom: 15px;
}

.header-bar_left {
  align-items: center;
  justify-content: space-between;
  width: 15%;
}

.header-bar_left span {
  font-weight: 500;
  font-size: 24px;
}

.header-bar_left img {
  width: 45px;
  height: 45px;
}

.header-bar_right {
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.header-bar_right input {
  width: 200px;
  padding: 8px 0px;
  font-size: 15px;
  display: block;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
}

.header-bar_right button {
  padding: 10px 15px;
  border: 0;
  border-radius: 3px;
  background-color: #f2e960;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 2px 3px 5px;
}

.width-30 {
  width: 30% !important;
}

/* content css */
.content {
    width: 80%;
    margin: 10px auto;
    padding: 50px 10px;
    height: calc(100% - 140px);
    overflow-y: auto;
}

/* footer css */

.footer {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer span {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  margin: 20px;
}
