/* content css */
.content {
  width: 80%;
  margin: 10px auto;
  padding: 50px 10px;
  height: calc(100vh - 140px);
  overflow-y: auto;
}

@media screen and (max-width: 820px) {
  .content {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .content {
    width: 100%;
    padding: 10px;
    height: calc(100vh - 130px);
  }
}